In [16]:
import pandas as pd
import Pipes.pipe_processing as pp

In [28]:
from sklearn.model_selection import train_test_split

### Чтение и осмотр данных

In [17]:
df = pd.read_csv('Diagnostics.csv')

In [18]:
df

,FileName,Rhythm,Beat,PatientAge,Gender,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset
0,MUSE_20180113_171327_27000,AFIB,RBBB TWC,85,MALE,117,234,114,356,496,81,-27,19,208,265,386
1,MUSE_20180112_073319_29000,SB,TWC,59,FEMALE,52,52,92,432,401,76,42,8,215,261,431
2,MUSE_20180111_165520_97000,SA,NONE,20,FEMALE,67,67,82,382,403,88,20,11,224,265,415
3,MUSE_20180113_121940_44000,SB,NONE,66,MALE,53,53,96,456,427,34,3,9,219,267,447
4,MUSE_20180112_122850_57000,AF,STDD STTC,73,FEMALE,162,162,114,252,413,68,-40,26,228,285,354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10641,MUSE_20181222_204306_99000,SVT,NONE,80,FEMALE,196,73,168,284,513,258,244,32,177,261,319
10642,MUSE_20181222_204309_22000,SVT,NONE,81,FEMALE,162,81,162,294,482,110,-75,27,173,254,320
10643,MUSE_20181222_204310_31000,SVT,NONE,39,MALE,152,92,152,340,540,250,38,25,208,284,378
10644,MUSE_20181222_204312_58000,SVT,NONE,76,MALE,175,178,128,310,529,98,-83,29,205,269,360
10645,MUSE_20181222_204314_78000,SVT,NONE,75,MALE,117,104,140,312,435,263,144,19,208,278,364

In [19]:
#Список всех признаков
df.columns

Index(['FileName', 'Rhythm', 'Beat', 'PatientAge', 'Gender', 'VentricularRate',
       'AtrialRate', 'QRSDuration', 'QTInterval', 'QTCorrected', 'RAxis',
       'TAxis', 'QRSCount', 'QOnset', 'QOffset', 'TOffset'],
      dtype='object')

In [20]:
#Пустых значений нет
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10646 entries, 0 to 10645
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FileName         10646 non-null  object
 1   Rhythm           10646 non-null  object
 2   Beat             10646 non-null  object
 3   PatientAge       10646 non-null  int64
 4   Gender           10646 non-null  object
 5   VentricularRate  10646 non-null  int64
 6   AtrialRate       10646 non-null  int64
 7   QRSDuration      10646 non-null  int64
 8   QTInterval       10646 non-null  int64
 9   QTCorrected      10646 non-null  int64
 10  RAxis            10646 non-null  int64
 11  TAxis            10646 non-null  int64
 12  QRSCount         10646 non-null  int64
 13  QOnset           10646 non-null  int64
 14  QOffset          10646 non-null  int64
 15  TOffset          10646 non-null  int64
dtypes: int64(12), object(4)
memory usage: 1.3+ MB

In [21]:
#Статистические данные по числовым признакам
df.describe()

,PatientAge,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset
count,10646.000000,10646.000000,10646.00000,10646.000000,10646.000000,10646.000000,10646.000000,10646.000000,10646.000000,10646.000000,10646.000000,10646.000000
mean,59.186831,84.136107,92.57787,90.989292,384.150855,434.154048,39.620609,44.637704,13.839470,219.260567,264.755213,411.335995
std,18.030019,34.455349,60.09394,17.479540,59.226289,39.354182,41.212648,57.478092,5.676339,6.410413,8.362120,29.777404
min,4.000000,34.000000,0.00000,18.000000,114.000000,219.000000,-89.000000,-89.000000,5.000000,159.000000,249.000000,281.000000
25%,49.000000,57.000000,57.00000,80.000000,344.000000,408.000000,14.000000,19.000000,9.000000,216.000000,259.000000,392.000000
50%,62.000000,73.000000,72.00000,88.000000,390.000000,430.000000,46.000000,42.000000,12.000000,219.000000,264.000000,414.000000
75%,72.000000,104.000000,106.00000,98.000000,426.000000,456.000000,68.000000,62.000000,17.000000,224.000000,268.000000,432.000000
max,98.000000,263.000000,535.00000,256.000000,736.000000,760.000000,270.000000,270.000000,40.000000,240.000000,331.000000,582.000000

In [22]:
#Количество экземпляров каждого класса по целевой переменной
df['Rhythm'].value_counts()

SB       3889
SR       1826
AFIB     1780
ST       1568
SVT       587
AF        445
SA        399
AT        121
AVNRT      16
AVRT        8
SAAWR       7
Name: Rhythm, dtype: int64

### Обработка данных

In [23]:
df = pp.myPipe.transform(df)

In [24]:
df

,Rhythm,PatientAge,Gender,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset
0,2,85,1,117,234,114,356,496,81,-27,19,208,265,386
1,0,59,0,52,52,92,432,401,76,42,8,215,261,431
2,6,20,0,67,67,82,382,403,88,20,11,224,265,415
3,0,66,1,53,53,96,456,427,34,3,9,219,267,447
4,5,73,0,162,162,114,252,413,68,-40,26,228,285,354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10641,4,80,0,196,73,168,284,513,258,244,32,177,261,319
10642,4,81,0,162,81,162,294,482,110,-75,27,173,254,320
10643,4,39,1,152,92,152,340,540,250,38,25,208,284,378
10644,4,76,1,175,178,128,310,529,98,-83,29,205,269,360
10645,4,75,1,117,104,140,312,435,263,144,19,208,278,364

In [25]:
type(df)

pandas.core.frame.DataFrame

### Сохраняем датафрейм

In [26]:
df.to_csv('Diagnostics_processing.csv')

### Выделение метки, разделение множества на тестовое и обучающее

In [27]:
X = df.drop(['Rhythm'], axis = 1)
Y = df['Rhythm']

In [31]:
X.to_csv('X.csv')
Y.to_csv('Y.csv')

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42, stratify = Y)